EmployeeWCFService/WebServiceWebClientProject/Service References/ServiceReference1/EmployeeWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GentEmployeeDb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GentEmployeeDbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GentEmployeeDbResult" type="tns:Employee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Dateofb" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRadomNumber">
        <s:complexType />
      </s:element>
      <s:element name="GetRadomNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRadomNumberResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRandoms">
        <s:complexType />
      </s:element>
      <s:element name="GetRandomsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRandomsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetTrainLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTrainLocationResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetTrainLocations">
        <s:complexType />
      </s:element>
      <s:element name="GetTrainLocationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrainLocationsResult" type="tns:ArrayOfLocation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Location">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Altitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AltitudeReference" type="tns:AltitudeReference" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AltitudeReference">
        <s:restriction base="s:string">
          <s:enumeration value="Ground" />
          <s:enumeration value="Ellipsoid" />
          <s:enumeration value="SeaLevel" />
          <s:enumeration value="Surface" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetRadomLocation">
        <s:complexType />
      </s:element>
      <s:element name="GetRadomLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRadomLocationResult" type="tns:Location" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GentEmployeeDbSoapIn">
    <wsdl:part name="parameters" element="tns:GentEmployeeDb" />
  </wsdl:message>
  <wsdl:message name="GentEmployeeDbSoapOut">
    <wsdl:part name="parameters" element="tns:GentEmployeeDbResponse" />
  </wsdl:message>
  <wsdl:message name="GetRadomNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetRadomNumber" />
  </wsdl:message>
  <wsdl:message name="GetRadomNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetRadomNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetRandomsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRandoms" />
  </wsdl:message>
  <wsdl:message name="GetRandomsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRandomsResponse" />
  </wsdl:message>
  <wsdl:message name="SetTrainLocationSoapIn">
    <wsdl:part name="parameters" element="tns:SetTrainLocation" />
  </wsdl:message>
  <wsdl:message name="SetTrainLocationSoapOut">
    <wsdl:part name="parameters" element="tns:SetTrainLocationResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrainLocationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTrainLocations" />
  </wsdl:message>
  <wsdl:message name="GetTrainLocationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTrainLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRadomLocationSoapIn">
    <wsdl:part name="parameters" element="tns:GetRadomLocation" />
  </wsdl:message>
  <wsdl:message name="GetRadomLocationSoapOut">
    <wsdl:part name="parameters" element="tns:GetRadomLocationResponse" />
  </wsdl:message>
  <wsdl:portType name="EmployeeWebServiceSoap">
    <wsdl:operation name="GentEmployeeDb">
      <wsdl:input message="tns:GentEmployeeDbSoapIn" />
      <wsdl:output message="tns:GentEmployeeDbSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRadomNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method return a random number</wsdl:documentation>
      <wsdl:input message="tns:GetRadomNumberSoapIn" />
      <wsdl:output message="tns:GetRadomNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRandoms">
      <wsdl:input message="tns:GetRandomsSoapIn" />
      <wsdl:output message="tns:GetRandomsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetTrainLocation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method Set Train Location</wsdl:documentation>
      <wsdl:input message="tns:SetTrainLocationSoapIn" />
      <wsdl:output message="tns:SetTrainLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrainLocations">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetTrainLocations methode</wsdl:documentation>
      <wsdl:input message="tns:GetTrainLocationsSoapIn" />
      <wsdl:output message="tns:GetTrainLocationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRadomLocation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method return a GetRadom Location</wsdl:documentation>
      <wsdl:input message="tns:GetRadomLocationSoapIn" />
      <wsdl:output message="tns:GetRadomLocationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeWebServiceSoap" type="tns:EmployeeWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GentEmployeeDb">
      <soap:operation soapAction="http://tempuri.org/GentEmployeeDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRadomNumber">
      <soap:operation soapAction="http://tempuri.org/GetRadomNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandoms">
      <soap:operation soapAction="http://tempuri.org/GetRandoms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTrainLocation">
      <soap:operation soapAction="http://tempuri.org/SetTrainLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrainLocations">
      <soap:operation soapAction="http://tempuri.org/GetTrainLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRadomLocation">
      <soap:operation soapAction="http://tempuri.org/GetRadomLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmployeeWebServiceSoap12" type="tns:EmployeeWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GentEmployeeDb">
      <soap12:operation soapAction="http://tempuri.org/GentEmployeeDb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRadomNumber">
      <soap12:operation soapAction="http://tempuri.org/GetRadomNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandoms">
      <soap12:operation soapAction="http://tempuri.org/GetRandoms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTrainLocation">
      <soap12:operation soapAction="http://tempuri.org/SetTrainLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrainLocations">
      <soap12:operation soapAction="http://tempuri.org/GetTrainLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRadomLocation">
      <soap12:operation soapAction="http://tempuri.org/GetRadomLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeWebService">
    <wsdl:port name="EmployeeWebServiceSoap" binding="tns:EmployeeWebServiceSoap">
      <soap:address location="http://localhost:1760/EmployeeWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="EmployeeWebServiceSoap12" binding="tns:EmployeeWebServiceSoap12">
      <soap12:address location="http://localhost:1760/EmployeeWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>