HalloService/BiduleServoceWebClient/Service References/ServiceReference/BiduleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BiduleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IBiduleService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5555/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5555/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BiduleService.Exceptions" />
      <xsd:import schemaLocation="http://localhost:5555/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5555/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BiduleService.Models" />
      <xsd:import schemaLocation="http://localhost:5555/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BiduleService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBiduleService_GetEmployeeDB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeDB" />
  </wsdl:message>
  <wsdl:message name="IBiduleService_GetEmployeeDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeDBResponse" />
  </wsdl:message>
  <wsdl:message name="IBiduleService_GetEmployeeDB_ZeroFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/BiduleService.Exceptions" name="detail" element="q1:ZeroFault" />
  </wsdl:message>
  <wsdl:message name="IBiduleService_SaveEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployee" />
  </wsdl:message>
  <wsdl:message name="IBiduleService_SaveEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IBiduleService_GetEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployee" />
  </wsdl:message>
  <wsdl:message name="IBiduleService_GetEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IBiduleService_GetFullTimeEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFullTimeEmployee" />
  </wsdl:message>
  <wsdl:message name="IBiduleService_GetFullTimeEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFullTimeEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IBiduleService_GetPartTimeEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartTimeEmployee" />
  </wsdl:message>
  <wsdl:message name="IBiduleService_GetPartTimeEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartTimeEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IBiduleService_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="IBiduleService_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IBiduleService_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IBiduleService_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IBiduleService_GetEmployeeClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeClient" />
  </wsdl:message>
  <wsdl:message name="IBiduleService_GetEmployeeClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeClientResponse" />
  </wsdl:message>
  <wsdl:portType name="IBiduleService">
    <wsdl:operation name="GetEmployeeDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IBiduleService/GetEmployeeDB" message="tns:IBiduleService_GetEmployeeDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBiduleService/GetEmployeeDBResponse" message="tns:IBiduleService_GetEmployeeDB_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBiduleService/GetEmployeeDBZeroFaultFault" name="ZeroFaultFault" message="tns:IBiduleService_GetEmployeeDB_ZeroFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IBiduleService/SaveEmployee" message="tns:IBiduleService_SaveEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBiduleService/SaveEmployeeResponse" message="tns:IBiduleService_SaveEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IBiduleService/GetEmployee" message="tns:IBiduleService_GetEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBiduleService/GetEmployeeResponse" message="tns:IBiduleService_GetEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFullTimeEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IBiduleService/GetFullTimeEmployee" message="tns:IBiduleService_GetFullTimeEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBiduleService/GetFullTimeEmployeeResponse" message="tns:IBiduleService_GetFullTimeEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartTimeEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IBiduleService/GetPartTimeEmployee" message="tns:IBiduleService_GetPartTimeEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBiduleService/GetPartTimeEmployeeResponse" message="tns:IBiduleService_GetPartTimeEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IBiduleService/GetMessage" message="tns:IBiduleService_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBiduleService/GetMessageResponse" message="tns:IBiduleService_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IBiduleService/GetClients" message="tns:IBiduleService_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBiduleService/GetClientsResponse" message="tns:IBiduleService_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IBiduleService/GetEmployeeClient" message="tns:IBiduleService_GetEmployeeClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBiduleService/GetEmployeeClientResponse" message="tns:IBiduleService_GetEmployeeClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IBiduleService" type="tns:IBiduleService">
    <wsp:PolicyReference URI="#WSHttpBinding_IBiduleService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeDB">
      <soap12:operation soapAction="http://tempuri.org/IBiduleService/GetEmployeeDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeroFaultFault">
        <soap12:fault use="literal" name="ZeroFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <soap12:operation soapAction="http://tempuri.org/IBiduleService/SaveEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <soap12:operation soapAction="http://tempuri.org/IBiduleService/GetEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFullTimeEmployee">
      <soap12:operation soapAction="http://tempuri.org/IBiduleService/GetFullTimeEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartTimeEmployee">
      <soap12:operation soapAction="http://tempuri.org/IBiduleService/GetPartTimeEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap12:operation soapAction="http://tempuri.org/IBiduleService/GetMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap12:operation soapAction="http://tempuri.org/IBiduleService/GetClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeClient">
      <soap12:operation soapAction="http://tempuri.org/IBiduleService/GetEmployeeClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BiduleService">
    <wsdl:port name="WSHttpBinding_IBiduleService" binding="tns:WSHttpBinding_IBiduleService">
      <soap12:address location="http://localhost:5555/BiduleService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:5555/BiduleService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>